.block_custom_course_menu .editingmode .editingicon {
    font-size: 1.1em;
    font-weight: bold;
}
.block_custom_course_menu .editingmode.editingoff .editingicon:after {
    content: "\f204";
}
.block_custom_course_menu .editingmode.editingon .editingicon:after {
    content: "\f205";
}
.block_custom_course_menu #custom_course_menu_interface {
    clear: both;
    float: right;
    margin: -10px 5px;
    text-decoration: none;
}
.block_custom_course_menu ul.custom_course_menu_category_list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.block_custom_course_menu input[type='text'] {
    max-width: 250px;
    width: 80%;
}
.handle {
    cursor: move;
}
.excluded_courses {
    cursor: default;
}
.block_custom_course_menu ul.course-sortable .placeholder {
    border: 1px dashed #cdcdcd;
    height: 1.3em;
}
.block_custom_course_menu ul.custom_course_menu_category_list ul.inconspicuous {
    display: none;
}
.block_custom_course_menu ul.custom_course_menu_category_list li {
    font-weight: bold;
    list-style: none;
    margin-bottom: 0;
}
.block_custom_course_menu ul.custom_course_menu_category_list li.inconspicuous .courselist_course span {
    text-decoration: line-through;
}
.block_custom_course_menu ul.custom_course_menu_category_list ul {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
}
.block_custom_course_menu ul.custom_course_menu_category_list ul li {
    font-weight: normal;
    list-style: none;
    margin-bottom: 0;
    margin-left: 0.5em;
}
.block_custom_course_menu ul.custom_course_menu_list.inconspicuous,
.block_custom_course_menu ul.custom_course_menu_list.collapsed {
    display: none;
}
.block_custom_course_menu #adminsearchquery {
    max-width: 92%;
}
.block_custom_course_menu #searchbutton {
    margin: 5px;
}
.block_custom_course_menu .scrollable {
    display: inline-block;
    line-height: 20px;
    max-width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}
.block_custom_course_menu .scrollable:hover {
    text-overflow: unset;
}
.block_custom_course_menu span.scrollable {
    max-width: 90%;
}
.block_custom_course_menu .editing .scrollable {
    max-width: 73%;
}
.block_custom_course_menu .scrollable span {
    -moz-transition: left 5s, width 5s;
    -webkit-transition: left 5s, width 5s;
    -webkit-transition-delay: 1.5s; /* Safari */
    left: 0;
    position: relative;
    transition: left 5s, width 5s;
    transition-delay: 1.5s;
    width: 100%;
}
.block_custom_course_menu .scrollable span:hover {
    left: -100%;
}
.block_custom_course_menu .searchfield {
    margin: 0;
}
