.block_my_courses #my_courses_interface {
  float: right;
}

.block_my_courses ul.my_courses_category_list {
  padding-left: 0px;
  margin: 0;
  list-style: none;
}

.block_my_courses ul.course-sortable {
  cursor: move;
}

.block_my_courses ul.course-sortable .placeholder {
  border: 1px dashed #cdcdcd;
  height: 1.3em;
}

.block_my_courses ul.my_courses_category_list ul.inconspicuous {
  display: none;
}

.block_my_courses ul.my_courses_category_list li {
  margin-left: 1.5em;
  margin-bottom: 0;
  text-indent: -1.5em;
  list-style: none;
  font-weight: bold;
}

.block_my_courses ul.my_courses_category_list li.inconspicuous {
  text-decoration: line-through;
}

.block_my_courses ul.my_courses_category_list ul {
  padding-left: 0px;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.block_my_courses ul.my_courses_category_list ul li {
  margin-left: 0.5em;
  margin-bottom: 0;
  text-indent: -1.5em;
  list-style: none;
  font-weight: normal;
}

.block_my_courses ul.my_courses_list.inconspicuous,
.block_my_courses ul.my_courses_list.collapsed {
  display: none;
}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
